<nav>
  <ul>
    <li><a href="index.html">Home</a></li>
    <li><a href="#">General</a>
        <ul>
          <li><a href="https://wiki.dockstarter.com/Migration.html">How to Migrate to DickSTARTer</a></li>
          <li><a href="https://wiki.dockstarter.com/FAQ.html"></a>FAQ</li>
          <li><a href="https://wiki.dockstarter.com/SMB-Mounting.html"></a>SMB Mounting</li>
          <li><a href="https://wiki.dockstarter.com/VPN%20Information.md"></a>VPN Information</li>
        </ul>
    </li>
    <li><a href="#">Application Specifics</a>
        <ul>
          <li><a href="https://wiki.dockstarter.com/AirDCpp.html">AirDCpp</a></li>
          <li><a href="https://wiki.dockstarter.com/ddclient.html">ddclient</a></li>
          <li><a href="https://wiki.dockstarter.com/DelugeVPN.html">DelugeVPN</a></li>
          <li><a href="https://wiki.dockstarter.com/Duplicati.html">Duplicati</a></li>
          <li><a href="https://wiki.dockstarter.com/Home-Assistant.html">Home Assistant</a></li>
          <li><a href="https://wiki.dockstarter.com/LE.html">Let's Encrypt (Certbot)</a></li>
          <li><a href="https://wiki.dockstarter.com/Logarr.html">Logarr</a></li>
          <li><a href="https://wiki.dockstarter.com/Netdata.html">Netdata</a></li>
          <li><a href="https://wiki.dockstarter.com/NextCloud.html">NextCloud</a></li>
          <li><a href="https://wiki.dockstarter.com/Ouroboros.html">Ouroboros</a></li>
          <li><a href="https://wiki.dockstarter.com/Pi-hole.md">Pi-hole</a></li>
          <li><a href="https://wiki.dockstarter.com/Plex.html">Plex</a></li>
          <li><a href="https://wiki.dockstarter.com/Portainer.html">Portainer</a></li>
          <li><a href="https://wiki.dockstarter.com/Samba.html">Samna</a></li>
          <li><a href="https://wiki.dockstarter.com/Watchtower.html">Watchtwoer</a></li>
        </ul>
    </li>
    <li><a href="#">Video Guids</a>
      <ul>
        <li><a href="https://www.youtube.com/watch?v=6pkbS07CAnU">Getting Started</a></li>
      </ul>
    </li>
    <li><a href="#">Other</a>
      <ul>
        <li><a href="https://wiki.dockstarter.com/Advanced-Usage.html">Advanced Usage</a></li>
        <li><a href="https://wiki.dockstarter.com/Available-Applications.html">Available Applications</a></li>
        <li><a href="https://wiki.dockstarter.com/Backups.html">Backups</a></li>
        <li><a href="https://wiki.dockstarter.com/Overrides.html">Overrides</a></li>
        <li><a href="https://wiki.dockstarter.com/Setting=Up-a-Domain.html">Setting up a domain</a></li>
        <li><a href="https://wiki.dockstarter.com/Technical-Info.html">Thechnical Info</a></li>
      </ul>
    </li>
  </ul>
</nav>
