---
---

@import "{{ site.theme }}";
$blue: #3bbfce;
$margin: 16px;

#header_wrap .outer {
  border-color: $blue;
  color: darken($blue, 9%);
}

.border {
  padding: $margin / 2; margin: $margin / 2; border-color: $blue;
}
