---
---
@import "jekyll-theme-slate";

img {
  position: relative;
  left: 30px;
  margin-left: auto;
  margin-right: auto;
  max-width: 739px;
  padding: 0px 0px 0px 0px;
  margin: 10px 0 10px 0;
  border: 0px solid #ebebeb;

  box-shadow: 0 0 0px #ebebeb;
  -webkit-box-shadow: 0 0 0px #ebebeb;
  -moz-box-shadow: 0 0 0px #ebebeb;
  -o-box-shadow: 0 0 0px #ebebeb;
  -ms-box-shadow: 0 0 0px #ebebeb;
}
